/******color sheet*******
	blue: #42b3e5;
	green1: #7c8e77;
	green2: #506e50;
	gray: #ceccca;
*/
#section4{
	background-color: rgba(255,255,255,0.85);
	overflow: hidden;
}
#section4>div{
	padding: 30px ;
	overflow: hidden;
}
.section>h1{
	line-height: 75px;
	font-size: 1.2em;
	color: white;
	padding-left: 20px;
	background: #42b3e5;
}
.section>h1>span{
	float: right;
	margin-right: 20px;
}
#section4 h2{
	color:#42b3e5;
	font-size: 1.2em;
	margin-bottom: 20px;
}
#news, #events{
	position: relative;
	margin-bottom: 50px;
}
#section4 h3 a{
	font-size: 1em;
	font-weight: 200;
	color: black;
	text-decoration: none;
}
#section4 ul{
	padding-left: 20px;
	font-size: 0.9em;
	list-style-type: disc;
}
#section4 ul li{
	margin-bottom: 10px;
}
#section4 ul a{
	color: black;
	line-height: 1.3em;
}
.news, .event{
	margin-bottom: 20px;
}
a.more{	
	text-decoration: none;
	display: block;
	width: 6em;
	color: #42b3e5;
	position: absolute;
	bottom: -40px;
	right: 20px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.col1{
	width: 25%;
}
.col2{
	width: 62%;
}
.article{
	margin: 10px 0;
}
.article p{
	line-height: 1em;
	font-size: 0.9em;
	margin: 5px 0;
	color: gray;
}