/******color sheet*******
	blue: #42b3e5;
	green1: #7c8e77;
	green2: #506e50;
	gray: #ceccca;
*/
#section4{
	background-color: rgba(255,255,255,0.85);
}
#section4>div{
	padding: 40px;
	overflow: hidden;
}
.section>h1{
	line-height: 75px;
	font-size: 1.2em;
	color: white;
	padding-left: 20px;
	background: #42b3e5;
}
.section>h1>span{
	float: right;
	margin-right: 20px;
}
.input-box{
	margin: 20px auto;
	border-left: solid #42b3e5 5px;
	padding-left: 13px;
	height: 30px;
	line-height: 30px;
}
#reg-form input{
	height: 30px;
}
 input+label{
	margin-left: 60px;
 }
 input.size1{
 	width: 80px;
 }
  input.size3{
 	width: 240px;
 }
#reg-form textarea{
 	width: 73%;
 	height: 100px;
 }
#reg-form legend{
	font-size: 1.2em;
	margin-bottom: 10px;
	margin-top: 40px;
	color: #42b3e5;
}
#reg-form label{
	cursor: pointer;
}
#reg-form input[type='submit']{
	width: 150px;
	height: 30px;
	font-size: 1em;
	margin-top: 10px;
	color: white;
	background: #42b3e5;
	border: solid 4px #42b3e5;
	cursor: pointer;
}