{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/judges.css">
<div class="content">
    <div class="section" id="section1">
      <img id="zaec" src="/static/images/zaec.png">
      <img id="declare" src="/static/images/declare.png">
    </div>	

   	<div class="section" id="section4">
   		<h1>评委顾问<span><img src="/static/images/arrow.png"></span></h1>
   		<div>
   			<h2>评委会主任</h2>
   			<div class="org-section">
               <ul>
                  <li></li>
               </ul>
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>

   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>

               <span>
                  <span>
                     <img src="/static/images/wang.jpg">
                     <p>王海波</p>
                  </span>
                  <p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
               </span>			       						       						       						       					       				
   			</div>
   			<h2>评委</h2>
   			<div class="org-section">
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>
   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>

   				<span>
   					<span>
   						<img src="/static/images/wang.jpg">
   						<p>王海波</p>
   					</span>
   					<p>大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</p>
   				</span>	
   			</div>

            <h2>顾问</h2>
            <div class="org-section">
               <p>
                  <span>王海波</span>
                  <span class="description">大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</span>
               </p>  
               <p>
                  <span>王海波</span>
                  <span class="description">大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</span>
               </p> 
               <p>
                  <span>王海波</span>
                  <span class="description">大海投资有限公司，文字都写在这里。但是也不要太多了，差不多三行左右。</span>
               </p>                

            </div>	       			
        </div>
    </div>		        	        
</div>

<script type="text/javascript">
$('.navigation a[href="/judges"]').addClass('selected');
</script>
{% endblock %}