{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/notification.css">
<div class="content">
    <div class="section" id="section1">
        <img id="zaec" src="/static/images/zaec.png">
        <img id="declare" src="/static/images/declare.png">
    </div>	

   	<div class="section" id="section4">
   		<h1>活动公告<span><img src="/static/images/arrow.png"></span></h1>
    	<div class="left col1">
    		<h2>热门新闻</h2>
    		<ul>
                {% for news in news_list %}
                  <li><a href="/news/{{ news.id}}">{{ news.title}}</a></li>
                {% endfor %}
    		</ul>		

            <h2>热门活动</h2>
            <ul>
                {% for events in events_list %}
                  <li><a href="/event/{{ events.id}}">{{ events.title}}</a></li>
                {% endfor %}
            </ul>        		
    	</div>	 

    	<div class="right col2">
            <div id="news">
                {% for news in news_list %}
                <div class="news">
                    <div class="title">
                        <h3><a href="/news/{{ news.id}}">{{ news.title}}</a></h3>
                    </div>
                    <div class="article">
                        {% autoescape off %}
                            {{ news.abstract}}
                        {% endautoescape %}
                    </div>  
                </div>          
    		    {% endfor %}
                <a class="more" href="/news">查看更多 >> </a>
            </div>
            <hr>

            <div id="events">
                {% for news in events_list %}
                <div class="event">
                    <div class="title">
                        <h3><a href="/event/{{ news.id}}">{{ news.title}}</a></h3>
                    </div>
                    <div class="article">
                        {% autoescape off %}
                            {{ news.abstract}}
                        {% endautoescape %}
                    </div>
                </div>
                {% endfor %}
                <a class="more" href="/events">查看更多 >> </a>
            </div>
    	</div>			        	       
    </div>		        	        
</div>

<script type="text/javascript">
$('.navigation a[href="/notification"]').addClass('selected');
</script>
{% endblock %}